body {
  padding-top: 50px; 
  /*padding-bottom: 40px; */
  color: #5a5a5a;
  font-size: 1.7em;
}


html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* For check options in menu */

a > i.fa-check.active {
	visibility:visible;
}
a > i.fa-check {
	visibility:hidden;
}



.btn-control { 
margin-top: 15px; 
margin-right: 15px; 
background-color: hsl(0, 0%, 0%) !important; 
background-repeat: repeat-x; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000"); 
background-image: -khtml-gradient(linear, left top, left bottom, from(#000000), to(#000000)); 
background-image: -moz-linear-gradient(top, #000000, #000000); background-image: -ms-linear-gradient(top, #000000, #000000);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000)); 
 background-image: -webkit-linear-gradient(top, #000000, #000000); background-image: -o-linear-gradient(top, #000000, #000000); 
 background-image: linear-gradient(#000000, #000000); border-color: #000000 #000000 hsl(0, 0%, 0%); 
 color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00); -webkit-font-smoothing: antialiased; }

.btn-control > img {
	height:32px;
width:32px;
}




section {
	margin-bottom: 2em;
	border-bottom: 1px solid #eee;
}

.hero-unit p {
	margin: 1em 2em 0 0em;
	text-align: left;
}

.navbar.navbar-inverse{ 
  background-color: #2E486C;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*
.navbar-wrapper {
  position: relative;
  z-index: 10;
  margin-top: 5px;
}
*/
/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  /* margin-top: 10px;*/
}


/* Changing the colors to more white */
.navbar-inverse .navbar-nav > li > a {
    color: #DDDDDD;
}

.navbar-inverse .navbar-brand {
    color: #DDDDDD;
}

/* CSS OF SIDE PANEL */

.panel-group .panel
{
  overflow: visible;
}

.btnPassing5px {
	padding-left: 5px;
	padding-right: 5px;
	}

.iMarginL10px {
	margin-left: 10px;
}


.text13px {font-size:13px;}
/* owerrighr some contantes*/

.leaflet-sidebar .close{
	right: 10px;
	top: 10px;
}

#floatDiv {
	  display: block;
	  margin-right:auto;
	display: none;
	position: fixed;
	z-index: 10000;
	width: 440px;
	vertical-align: middle;
	text-align: center;
	top: 90px;

}


#floatDiv > table {
			
				font-family: 'ViperISRIC', Verdana, Geneva, sans-serif;
			
				padding: 10px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #BB0000;
				color: #EEEEEE;
			}
#imgISRIC {
				border: 1px #000000;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				
}

.modalText {
	font-size: 0.8em;
	text-align: justify;
}



